@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,600;8..144,700&display=swap");

html,
body,
root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Roboto Serif", serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit.scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track:hover {
    background: #555 ;
}